* {
    font-family: 'Montserrat', sans-serif;
}



body {
    padding: 50px 15% 300px;
    border: 1px solid black;
    box-shadow: 0 0 15px;
}



/* Navbar */


header {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;

}

#logo {
    height: 75px;

}

nav {
    width: 12em;
    display: flex;
    justify-content: space-around;

}

nav a {
    font-size: 10px;
    text-decoration: none;
    color: rgb(80, 80, 80);
}

nav a:hover {
    text-decoration: underline;
    color: rgb(80, 80, 80);
}

.active {
    color: blue;
    font-weight: 700;

}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 500;
    font-size: 1.5em;
}

h1,
.apropos h2 {
    color: rgb(212, 63, 98);
}

/*  Page 1  */

/* En-tête */

.sousTitre {
    font-weight: 500;
    font-size: 1.3em;
    line-height: 0px;
}

p.intro {
    color: rgba(0, 0, 0, 0.526);
}

p.intro,
p.textapropos {
    padding-top: 10px;
    font-size: 10px;
    font-weight: 400;
}

p.textapropos {
    text-align: justify;
    color: black;
    line-height: 15px;
}

.enTete {
    margin: 0px;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10vh;
    column-gap: 10vw;
    justify-content: space-between;
    align-items: flex-start;
}



.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}



.socialNetwork {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: left;
    column-gap: 10px;
}

.socialNetwork a img {
    width: 10px;
}

.intro {
    font-size: 20px;
}

.socialNetwork a {
    text-decoration: none;
    font-size: .4em;
    padding: 10px 30px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.twitter {
    text-align: center;
    background-color: rgb(0, 170, 255);
    color: white;
}



a.linkedin {
    text-align: center;
    background-color: rgb(55, 109, 209);
    color: white;

}

a.medium {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

.enTete img {
    width: 20vw;
}

/* Grid Articles */

.gridArticles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 65px;
}

a.imageArticle img {
    max-width: 100%;
}

.date {
    font-size: 10px;
    font-weight: 500;
}

h4 {
    font-size: 1em;
}

a.enSavoirPlus,
h4 {
    color: rgb(212, 63, 98);
}

.descriptionArticle {
    color: rgba(0, 0, 0, 0.526);
    font-size: 10px;
    font-weight: 400;
}

a.enSavoirPlus {
    text-decoration: none;
    font-size: 10px;
}

a.enSavoirPlus span {
    text-decoration: underline;
}

/* Article */


h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;

}



.textarticle {
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
}

.imagepost {
    width: 100%;
}


/* Page 3 - A propos */

.enTete2 {
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10vh;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;

}

.enTete2 img {
    width: 500px;
}

.apropos {
    width: 100%;
    padding: 30px;
    border: 1px solid rgb(212, 63, 98);
    border-radius: 30px;

}


.loremapropos {
    color: rgb(80, 80, 80);
    font-family: sans-serif;
}

.socialmedia {
    display: block;
    justify-content: flex-start;
    justify-content: space-around;
    font-family: sans-serif;
    margin-right: 20px;
}

.illustration img {
    width: 100%;
}


/* Page 4 - Contact */


fieldset {
    background-color: rgb(247, 208, 215);
    border-radius: 30px;
    padding: 50px 20px 20px;
    justify-content: center;
}

fieldset input {
    border-radius: 30px;
    left: 50px;
}

fieldset textarea,
fieldset select {
    border-radius: 5px;
}



input.boutonEnvoyer {
    margin-top: 20px;
    margin-left: 25px;
    width: 100px;
    background-color: rgb(247, 208, 215);
}